.chart {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  .module {
    width: 33%;
    height: 33%;
    margin-left: 0.3%;
    margin-top: 0.3%;
    border: 1px solid #000;
  }
}
